.home {
  background-image: url(../data/medical.png);
}

.image {
   position: relative;
   align: center;
   margin-top: -40px;
   margin-bottom: -80px;

   /*width: 100%; *//* for IE 6 */
}
.image2 {
   position: relative;
   align: center;
   margin-top: -40px;
   margin-bottom: -25px;

   /*width: 100%; *//* for IE 6 */
}

h2 {
   position: relative;
   text-align: center;
   top: -95px;
   /*left: 0;
   width: 100%;*/
}

h2 span {
   color: white;
   font: bold 25px/45px Helvetica, Sans-Serif;
   /*letter-spacing: -1px;*/
   background: rgb(0, 0, 0);
   background: rgba(0, 0, 0, 0.7);

   padding: 0px;
   /*background: rgb(0, 0, 0);
   background: rgba(0, 0, 0, 0.7);
   bottom: 40px;
   padding: 4px;*/
}

.float-button {

background-color:#303f9f;
opacity: 0.9;
color: white;
border-radius: 50%;
/*border-radius:15% 0 0 0;*/
width: 30px;
height: 30 px;
padding: 25px;
font-size: 40px;
position: absolute;
bottom: 15%; /* Adjust height */
right: 5%; /* Adjust position */
z-index: 1000;
}

.float-button .height_fix {
  margin-top: 100%;
  border: 1px solid red;
}

.float-button .content {
  position: absolute;
  left: 0;
  top: 50%;
  height: 100%;
  width: 100%;
  text-align: center;
  margin-top: -20px;
  color: white;
}

.img-overlay-red img {
  margin: 0;
  opacity: 0.5;
  display: block;
}



.img-overlay-red
{
    position: relative;
    background-color: red;

}

.img-overlay-green img {
  margin: 0;
  opacity: 0.5;
  display: block;
}

.img-overlay-green
{
    position: relative;
    background-color: green;
    float :left;
}

.img-overlay-trans img {
  margin: 0;
  opacity: 1;
  display: block;
}

.img-overlay-trans
{
    position: relative;
    float :left;
}

.smallchem {
    /*clip-path: inset(5px 5px 5px 5px);*/
    margin-left: auto;
    margin-right: auto;

}

.chem {
    height: auto;
    width: 100%;
    max-width: 250px;
    border: 1px solid ;
    /*background-color: green;*/

}

.chemok {
    height: auto;
    width: 100%;
    max-width: 250px;
    border: 2px solid green ;

    /*background-color: green;*/

}

.chemwrong {
    height: auto;
    width: 100%;
    max-width: 250px;
    border: 1px solid red ;
    opacity: 0.5 ;

}

.bigchem {
    width: 100%;
    max-width: 250px;
    margin-top: -20px;
    height: auto;
    color: red;
}
.bigchemend {
    height: auto;
    width: 95%;
    max-width: 250px;
    /*;*/
    color: red;
}
h3 {
    text-align:center;

}

.buttons-components-page {

  ion-card {
    margin-bottom: 2em;
  }

  ion-card-content {
    background-color: #F4F5F8;
  }

  ion-card img {
    width: auto;
    height: 44px;
    display: block;
    margin: 20px auto;
  }

}
