<ion-view title="Step {{cardid + 1}} / {{quizzes.data[quizzid].cards.length}}" hide-back-button="true">


    <ion-content overflow-scroll="true" padding="true" class="has-header">


        <p align="center"> <img class="bigchem" ng-src="{{ quizzes.data[quizzid].cards[cardid].equation }}"/> </p>


        <!-- floating button -->
         <div ng-if="answered">

            <div ng-if="cardid != quizzes.data[quizzid].cards.length - 1">
            <!-- swithc between buttons -->
                <div ng-click="resetState()" ui-sref="menu.cart({ quizzid: quizzid , cardid : cardid+1, goodanswer : goodanswer})">
                 <div class="float-button">
                 <span class="height-fix">
                   <!--  <button class="button button-small button-assertive"> Small Button </button> -->
                    <a class="content">
                      <i class="ion-ios-arrow-right"> </i>
                    </a>
                    </span>
                 </div>
                </div>
            </div>

            <div ng-if="cardid == quizzes.data[quizzid].cards.length - 1">
            <!-- swithc between buttons -->
                <div ng-click="resetState()" ui-sref="menu.bilan({ quizzid: quizzid , goodanswer : goodanswer})">
                 <div class="float-button">
                 <span class="height-fix">
                   <!--  <button class="button button-small button-assertive"> Small Button </button> -->
                    <a class="content">
                      <i class="ion-ios-arrow-right"> </i>
                    </a>
                    </span>
                 </div>
                </div>
            </div>

        </div>
        <div ng-if="quizzes.data[quizzid].cards[cardid].condition != false">
           <div class="image">

              <p align="center"> <img src="data/fleche.svg" alt="" /></p>

              <h2><span><div ng-bind-html="quizzes.data[quizzid].cards[cardid].condition"></div></span></h2>
            </div>
            <!-- <h3> <p style="text-align:center">  {{ quizzes.data[quizzid].cards[cardid].condition }} </p> <h3> -->
        </div>

        <div ng-if="quizzes.data[quizzid].cards[cardid].condition == false">
           <div class="image2">

              <p align="center"> <img src="data/fleche2.svg" alt="" /></p>

            </div>
            <!-- <h3> <p style="text-align:center">  {{ quizzes.data[quizzid].cards[cardid].condition }} </p> <h3> -->
        </div>

         <!-- <button class="button button-small button-assertive"> Small Button </button> -->
        <div class="container" >
            <div class="row">
                <div class="col s1" ng-click="isItTrue(0,quizzes.data[quizzid].cards[cardid].solution)" >
                        <p align="center">
                        <small-chem id="0" idclicked="idclicked" answered="answered" right="quizzes.data[quizzid].cards[cardid].solution"  img="quizzes.data[quizzid].cards[cardid].possibilities[0]"></small-chem>
                        </p>
                     </div>

                <div class="col s1" ng-click="isItTrue(1,quizzes.data[quizzid].cards[cardid].solution)" >
                     <p align="center">
                      <small-chem id="1" idclicked="idclicked" answered="answered" right="quizzes.data[quizzid].cards[cardid].solution"  img="quizzes.data[quizzid].cards[cardid].possibilities[1]"></small-chem>
                     </p>
                    </div>
           </div>


        </div>

         <div ng-if="answered">
             <div ng-if="quizzes.data[quizzid].cards[cardid].explication != false">
            <p style="text-align:center">  {{ quizzes.data[quizzid].cards[cardid].explication }} </p>
            </div>
        </div>

    </ion-content>
</ion-view>
