<ion-view title="Credits" hide-back-button="true">
    <ion-content overflow-scroll="true" padding="true"  class="has-header">
      <!-- class="has-header" -->
        <h4 style=" text-align: center;">
            Created by Daniela Melanie Delannoy Lopez and
            Jean-Michel Arbona
        </h4>
        <p style="text-align: center;">
            Collaborator: Pierre-Antoine Nocquet
        </p>

        <p style="text-align: center;" > If you want to participate and add your synthesis do not hesitate
          to contact us at jeanmichel.arbona@gmail.com
        </p>

    </ion-content>
</ion-view>
